<div class="container">
  <table id="student" border="0.5px ">
    <tr>
      <th>Name</th>
      <th>Courses</th>
      <th>Marks</th>
      <th>Percentage</th>
      <th>DOB</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let st of students">
      <td>{{st.name}}</td>
      <td>{{st.course}}</td>
      <td>{{st.marks}}</td>
      <td>{{st.marks | percentage: totalMarks :2}}</td>
      <!-- <td>{{st.marks / totalMarks | percent:'1.2-3'}}</td> -->
      <!-- <td>{{st.marks / totalMarks | currency:'INR'}}</td> -->
      <!-- <td>{{st.dob | date: 'fullDate'}}</td> https://angular.io/api/common/DatePipe -->
      <td>{{st.dob | date: 'fullDate' | uppercase}}</td> <!--https://angular.io/api/common/DatePipe-->
      <td>{{st.gender | uppercase}}</td>
      <!-- <td>{{st.gender | titlecase</td> -->
      <!-- <td>{{st.gender | lowercase}}</td> -->
    </tr>
  </table>
</div>